<!DOCTYPE html>
<html>
  <head>
    <title>ApiBackendProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class="navbar has-shadow">
      <div class="navbar-brand">
        <span class="navbar-item title">ADMIN</span>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <%= link_to '<strong>Log out</strong>'.html_safe, destroy_user_session_path, method: :delete, class: 'button is-light' %>
        </div>
      </div>
    </nav>
    <% flash.map do |key, val| %>
      <div class="notification is-primary %>">
        <%= val %>
      </div>
    <% end %>

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
